<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label>FIFO shopware events</label>
    <version>0.0.0</version>
    <license>MIT</license>
    <description>Dump all event names to a fifo file</description>
</plugin>
